.accordionpanel {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.5em;
  max-width: 85%;
  padding-bottom: 2em;
}

.acpimgcontainer {
  display: flex;
  width: 509.08px;
  height: 622px;
  padding: 25.376px 36.542px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 253.761px 253.761px 35px 35px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -8px 5px 15px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(23.782936096191406px);
}

.acpimg {
  width: fit-content;
  overflow: hidden;
  height: 587.225px;
  flex-shrink: 0;
  border-top-left-radius: 28em;
  border-top-right-radius: 28em;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}

.accordions {
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.accordions h3 {
  color: #e86f18;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.accordions h1 {
  color: #1d365e;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.accordions h2 {
  color: #868484;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1em;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  flex-direction: column;
  gap: 1em;
  border-radius: 9px;
  border: 4px solid #fafcfe;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.5);
  padding: 0.5em 0.5em;
}

.item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding-top: 0.5em;
}

.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item p {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 141%; /* 22.56px */
}

.itemdescription {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.show {
  max-height: 9999px;
  transition: max-height 0.3s ease-in-out;
  padding-bottom: 1em;
}
