.contactsection {
  width: 100%;
  background-color: #121010;
  height: 63vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactimgcontainer {
  height: 100%;
  width: 50%;
  background: url("../Svgs/BackgroundSvgs/3\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactimg {
  width: 100%;
}

.contactcard {
  width: 80%;
  height: 51vh;
  gap: 2em;
  border-radius: 20.56px;
  border: 2.284px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15.22986888885498px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em 0.5em;
}

.inf12{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.contactcardinfo1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.contactcardinfo1 h2 {
  color: #fff;
  font-family: Moulpali;
  font-size: 27.414px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
  line-height: 1em;
}

.contactcardinfo1 h1 {
  color: #000;
  font-family: Moulpali;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
}

.contactcardinfo2 {
  width: 100%;
}
.contactcardinfo2 h1 {
  color: #000;
  font-family: Moulpali;
  font-size: 61.681px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  line-height: 1em;
}

.contactcardinfo3 {
  text-align: center;
  width: 90%;
}

.contactcardinfo3 h3 {
  color: #000;
  font-family: Moulpali;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height:1em;
}

.contactheading {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}

.headingsubcontainer {
  width: 100%;
  height: fit-content;
  
}

.contactheading h1 {
  text-align: center;
  font-family: Inter;
  font-size: 138.512px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -4.155px;
  background: linear-gradient(180deg, #fff 54.69%, rgba(2, 4, 3, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.heading1 {
  line-height: 1em;
  transform: translate(0,0.2em);
}
.heading2 {
  line-height: 1em;
  transform: translate(0, -0.2em);
}

@media screen and (max-width: 767px) {
  .contactsection {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .contactimgcontainer {
    width: 100%;
    padding: 1.5em 0em;
  }
  .contactheading {
    width: 90%;
  }
  .contactheading h1 {
    font-size: 75px;
  }

  .contactcard{
    width: 90%;
    height: 33vh;
    
  }

  .contactcardinfo1 h2{
    font-size: 13.626px;
  }
  .contactcardinfo1 h1{
    font-size: 28.387px;
  }

  .contactcardinfo2 h1{
    font-size: 30.658px;
  }

  .contactcardinfo3 h3{
    font-size: 14.911px;
  }

}
