.residences {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.prheader {
  width: 100%;
}

.prheader h3 {
  color: #e86f18;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 0.2em;
}

.prheader h2 {
  color: #1d365e;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardbox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
